<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EcoChemie.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EcoChemie.Properties.Settings>
            <setting name="MinRequiredFirmwareVersion" serializeAs="String">
                <value>6.0</value>
            </setting>
            <setting name="MinRequiredAdkVersion" serializeAs="String">
                <value>3.1.8333.20455</value>
            </setting>
            <setting name="MinRequiredAdvVersion" serializeAs="String">
                <value>3.1.8333.20455</value>
            </setting>
            <setting name="MinRequiredAppLoaderVersionIF030" serializeAs="String">
                <value>3.1.4763.24317</value>
            </setting>
            <setting name="MinRequiredAppLoaderVersionIF040" serializeAs="String">
                <value>3.1.4763.24317</value>
            </setting>
            <setting name="MinRequiredFraFirmwareVersion" serializeAs="String">
                <value>1.1.6103.15875</value>
            </setting>
            <setting name="MinRequiredAppLoaderVersionIF050" serializeAs="String">
                <value>3.1.7325.17790</value>
            </setting>
            <setting name="MinRequiredAppLoaderVersionIF041" serializeAs="String">
                <value>3.1.8333.20455</value>
            </setting>
        </EcoChemie.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
